body{
    background: turquoise;
    margin-left: 200px;
    margin-right: 200px;
}

header{
    margin-top: 100px;
}

h1 { /**todas as fontes com h1 terão as caracs abaixo:**/ 
    color: white;
    font-family: fantasy;
}

h2 {
    font-family: arial; 
}

p { /**toda palavra com o <p> terá as caracs abaixo:**/
    font-size: 18px
}

img {
    margin-bottom: 20px;
}